<div class="topnav">
  <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page" >Home</a>
  <a routerLink="" fragment="about" routerLinkActive="active" ariaCurrentWhenActive="page" >About</a>
  <a routerLink="" fragment="contact" routerLinkActive="active" ariaCurrentWhenActive="page" >Contact</a>
  <div class="dropdown">
    <button class="dropbtn">Projects
      <div class="dropdown-content">
        <a routerLink="/toxic-classification" routerLinkActive="active" ariaCurrentWhenActive="page" >Toxic Classification</a>
        <a routerLink="/spotify-queue" routerLinkActive="active" ariaCurrentWhenActive="page" >Spotify Public Queue</a>
      </div>
    </button>
  </div>
</div>
  