<div class="topnav">
  <a class="link" routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page" >Home</a>
  <a class="link" routerLink="" fragment="about" routerLinkActive="active" ariaCurrentWhenActive="page" >About</a>
  <a class="link" routerLink="" fragment="contact" routerLinkActive="active" ariaCurrentWhenActive="page" >Contact</a>
  <a class="dropbtn link">Projects
    <div class="dropdown-content">
      <a class="link" routerLink="/toxic-classification" routerLinkActive="active" ariaCurrentWhenActive="page" >Toxic Classification</a>
      <a class="link" routerLink="/spotify-queue" routerLinkActive="active" ariaCurrentWhenActive="page" >Spotify Public Queue</a>
    </div>
  </a>
</div>
  