<div class="padding">
  <div class="wrapper">
    <div class="header">
      <img [src]="'../../../assets/img/expand-' + (expanded ? 'up' : 'down') + '.png'"
          (click)="expanded = !expanded" class="expander-icon">
      <a [href]="link" target="_blank">
        <img [src]="icon" class="comp-icon">
      </a>
      <p class="header-text" (click)="expanded = !expanded">{{header}}</p>
    </div>
    <div *ngIf="expanded" class="body">
      <ng-content></ng-content>
    </div>
  </div>
</div>