<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Spotify Public Queue</title>
    <meta name="description" content="Free Bootstrap Theme by uicookies.com">
    <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">
    
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Rubik:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--[if lt IE 9]>
      <script src="../js/vendor/html5shiv.min.js"></script>
      <script src="../js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="col-md-12">
      <h2 class="probootstrap-heading">Spotify Public Queue</h2>

      <p>
        <a href="https://github.com/tylersmith-1234/spotify-queue" target="_blank" style="font-size: 1.414em;">View on <i class="fa fa-github"></i></a>

      </p>
      <!-- <h4 class="mb30">My Mission</h4> -->
      <p>
        During the pandemic, I became a bit restless--so I decided to start making something that I thought could improve our social gatherings (once we're allowed to have them again :)).
        This Spotify public queue system will let you create a "queue" for any of your public playlists on Spotify--anyone else can then follow the queue and request songs to be added onto the playlist.
        Only you have the power to approve and reject potential songs for your playlist.
      </p>
      <p>
        If you would like to see the application in action, check out <a
          href="https://spotify-request-queue.herokuapp.com/" target="_blank">this build of it on Heroku.</a>
        If it appears to be down, please let me know!
      </p>
      <div id="video">
        <h4>A video of the Spotify Public Queue App</h4>
        <video width="640" height="480" controls muted>
          <source src="../../assets/img/spotify-queue-vid.mp4" type="video/mp4">
        </video>
      </div>

    </div>
  </body>
</html>