<div class="col-md-12">
  <h2 class="probootstrap-heading">Welcome to my website!</h2>
</div>
<div id="about" style="margin-left: 10px;">
  <h3 style="text-align: center;">My Work Experience</h3>
  <app-expander
    link="https://www.itential.com"
    header="Itential, LLC (August 2019-August 2021)"
    icon="../../assets/img/itential.jfif">
    <p>
      I was fortunate enough to do three rotations as a co-op for Itential, where I got a lot of exposure to the software engineering industry.
      During my time there, I helped update features, create new features for their product, and learn some of the processes & norms commonly used in software development.
    </p>
    Skills Learned:
      <ul>
        <li>MongoDB/Non-relational database programming</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript/Node.js</li>
        <li>Agile/SCRUM via JIRA systems</li>
      </ul>
  </app-expander>
  <app-expander
    link="https://gtri.gatech.edu/"
    icon="../../assets/img/gtri-logo-alt.png"
    header="Georgia Tech Research Institute-ELSYS (May-August 2019)">
    <p>
      During this internship in GTRI's Electronic Systems Laboratory division, I helped my mentors create a target detection system, potentially for use in future defense systems.
    </p>
    Skills Learned:
      <ul>
        <li>Python/NumPy</li>
        <li>Machine Learning</li>
        <li>Computer Vision</li>
        <li>Git</li>
      </ul>
  </app-expander>
  <app-expander
    link="https://www.jhuapl.edu/"
    icon="../../assets/img/apl.jpg"
    header="Johns Hopkins APL, Air & Missile Defense Sector (August 2016-May 2017)">
    <p>
      I did this internship in conjunction with the rest of my schoolwork, which helped me learn how to balance my work, school, and the rest of my life.
      Our main goal was to make a so-called "hydrocommunications" device--basically, to see if we could create a way of communication via water waves and buoys.
      That was one of my first significant experiences with failure: we did not achieve our goal, but we were able to look back in the process and reflect on what went right and what went wrong during our development.
    </p>
    Skills Learned:
      <ul>
        <li>MATLAB</li>
        <li>Image Analysis</li>
        <li>Team Communication</li>
      </ul>
  </app-expander>
  <h3 style="text-align: center;">Education</h3>
  <app-expander link="https://www.gatech.edu" icon="assets/img/Georgia_Tech_seal.svg"
    header="M.S. CS, Georgia Institute of Technology (August 2021-May 2022)">
    <p>
      The second part of my BSMS program at Georgia Tech, I graduated in May 2022 with my MS, specializing in Machine Learning.
    </p>
    GPA: 4.00 | Relevant coursework:
      <ul>
        <li>CS 6220 (Big Data Systems & Analytics)</li>
        <li>CS 6515 (Graduate Algorithms)</li>
        <li>CS 7641 (Machine Learning)</li>
        <li>CS 7643 (Deep Learning)</li>
        <li>CS 7649 (Robot Intelligence/Planning)</li>
        <li>CSE 6240 (Web Search & Text Mining)</li>
        <li>CSE 6242 (Data & Visual Analytics)</li>
      </ul>    
  </app-expander>
  <app-expander
    link="https://www.gatech.edu"
    icon="assets/img/Georgia_Tech_seal.svg"
    header="B.S. CS, Georgia Institute of Technology (August 2017-May 2021)">
    <p>Thanks to Georgia Tech, I had an excellent experience as an undergraduate CS major, and I was able to expand my horizons with regards to computer science and learn more about both research and industry.
      My concentrations were in People and Intelligence--for more information on GT's unique Threads program, click <a target="_blank" href="https://www.cc.gatech.edu/threads-better-way-learn-computing">here.</a>
      I was even able to get a head start on my Master's Degree, thanks to their BS/MS program.
      Probably my most significant experience here has been helping out with CS 4400 as a TA since my sophomore year. I have now seen what college classes are like as both a student and an instructor, which has helped me appreciate my education even more.
    </p>
    GPA: 3.91 | Relevant coursework:
      <ul>
        <li>CS 3600 (Introduction to Artificial Intelligence)</li>
        <li>CS 4400 (Introduction to Databases)</li>
        <li>CS 4460 (Introduction to Data Visualization)</li>
        <li>CS 4476 (Introduction to Computer Vision)</li>
        <li>CS 4510 (Automata & Complexity)</li>
      </ul>
  </app-expander>
  <app-expander
    link="https://www.severnaparkhigh.org/"
    icon="../../assets/img/severnaParkHSlogo.png"
    header="Severna Park High School (August 2013-May 2017)">
    <p>I was fortunate enough to go to a very good high school, and as such I took advantage of that opportunity by taking too many AP courses!
      The best part about their curriculum was their offering of <a href="https://www.pltw.org/" target="_blank">Project Lead the Way</a> courses, a national initiative that helps high school students learn about engineering early in their academic careers.
      PLTW helped shape me into who I am today: without them, I would not be as successful as I am.
      In fact, I made my first attempt at a website for their capstone class, which you can find <a href="http://tylerbsmith.weebly.com/" target="_blank">here!</a>
    </p>
  </app-expander>
</div>
<div id="contact">
  <h3 style="text-align: center;">Contact Me!</h3>
    <p style="text-align: center;">
      My email: <a href="mailto:tsmith394@gatech.edu">tsmith394@gatech.edu</a>
      | Check out my <a href="https://www.linkedin.com/in/time-to-work" target="_blank">LinkedIn!</a>
      <br>
      Download my resume:
        [<a href="../../assets/files/TylerSmith_Resume.pdf" download target="_blank">pdf</a>]
        [<a href="../../assets/files/TylerSmith_Resume.docx" download>docx</a>]
    </p>
</div>