.tab-close {
    color: gray;
    text-align: right;
    cursor: pointer;
  }
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  li {
    position: relative;
    display: block;
    a {
      margin-right: 2px;
      line-height: 1.42857143;
      border: 1px solid transparent;
      border-radius: 4px 4px 0 0;
    }
  }
}
.nav-tabs {
  border-bottom: 1px solid #ddd;
  li {
    float: left;
    margin-bottom: -1px;
    a {
      position: relative;
      display: block;
      padding: 10px 15px;
    }
  }
}